In [1]:
import pandas as pd
import numpy as np

In [2]:
from sklearn.ensemble import RandomForestRegressor

In [3]:
df1 = pd.read_csv('entrenar_st_1820.csv')
df2 = pd.read_csv('entrenar_st_1921.csv')
df3 = pd.read_csv('entrenar_st_2022.csv')
df4 = pd.read_csv('entrenar_st_2123.csv')
archivos_st = [df1,df2,df3,df4]

In [4]:
df5 = pd.read_csv('entrenar_sc_1820.csv')
df6 = pd.read_csv('entrenar_sc_1921.csv')
df7 = pd.read_csv('entrenar_sc_2022.csv')
df8 = pd.read_csv('entrenar_sc_2123.csv')
archivos_sc = [df5,df6,df7,df8]

In [5]:
rf_reg_st = RandomForestRegressor(n_estimators=40, max_depth=14, max_features=9,
                                   min_samples_split=7)
rf_reg_sc = RandomForestRegressor(n_estimators=40, max_depth=14, max_features=5,
                                   min_impurity_decrease=0.3, random_state=1)

In [6]:
predecir = pd.read_csv('predecir_st_2426.csv')  
for df in archivos_st:
    X,y = df.drop(['ref_hash','segundos'],axis=1),df['segundos']
    rf_reg_st.fit(X,y)
preds = rf_reg_st.predict(predecir.drop(['ref_hash','segundos'],axis=1))
pred_st = pd.DataFrame(preds)
pred_st.columns = ['objetivo']
pred_st = pd.DataFrame({'ref_hash': predecir['ref_hash'],
                           'obj': pred_st['objetivo']})
pred_st.head()

             obj         ref_hash
0  176455.590560   69039685746313
1  143782.469111  345999128501141
2   38399.999025  360710529886978
3  135855.731392  365882020742330
4   84081.569254  416301579449694

In [7]:
predecir = pd.read_csv('predecir_sc_2426.csv')
for df in archivos_sc:
    X,y = df.drop(['ref_hash','segundos'],axis=1),df['segundos']
    rf_reg_sc.fit(X,y)
preds = rf_reg_sc.predict(predecir.drop(['ref_hash','segundos'],axis=1))
pred_sc = pd.DataFrame(preds)
pred_sc.columns = ['objetivo']
pred_sc = pd.DataFrame({'ref_hash': predecir['ref_hash'],
                           'obj': pred_sc['objetivo']})
pred_sc.head()

             obj         ref_hash
0  245973.876398   41863526108385
1  244035.300619   69039685746313
2  256768.959904   90072729247980
3  246231.777339  161514654074162
4  247898.791499  168103949904656

In [8]:
ids = pd.read_csv('ids.csv')
print(ids.shape)
ids.head()

(4037, 2)

              ref_hash  segundos
0  1000169251625791246         0
1  1000395625957344683         0
2  1003027494996471685         0
3  1006670001679961544         0
4  1007573308966476713         0

In [9]:
pred_st['ref_hash'] = pred_st['ref_hash'].astype('str')
pred_sc['ref_hash'] = pred_sc['ref_hash'].astype('str')
ids['ref_hash'] = ids['ref_hash'].astype('str')

In [10]:
pred_st = pred_st[pred_st['ref_hash'].isin(ids['ref_hash'])]
pred_sc = pred_sc[pred_sc['ref_hash'].isin(ids['ref_hash'])]

In [11]:
pred_st['ref_hash'] = pred_st['ref_hash']+'_st'
print(pred_st.shape)
pred_st.head()

(4037, 2)

               obj              ref_hash
28    84967.622090   1037575899869926_st
154   68559.558279   4700892528469466_st
168  149907.782695   4920567832392301_st
380  176638.952079  11222455493472018_st
441  107461.693191  12710129175666777_st

In [12]:
pred_sc['ref_hash'] = pred_sc['ref_hash']+'_sc'
print(pred_sc.shape)
pred_sc.head()

(4037, 2)

               obj              ref_hash
23   251656.831851   1037575899869926_sc
105  246070.296678   4920567832392301_sc
176  253617.852317   8624897563799496_sc
258  255516.448167  12710129175666777_sc
261  235556.022345  12880076216702587_sc

In [13]:
prediccion = pred_st.append(pred_sc)
prediccion = prediccion[['ref_hash','obj']]
prediccion = prediccion.sort_values('ref_hash')
print(prediccion.shape)
prediccion.head()

(8074, 2)

                      ref_hash            obj
21334   1000169251625791246_sc  248461.504450
35649   1000169251625791246_st   58507.976569
247885  1000395625957344683_sc  131811.301477
35656   1000395625957344683_st   56148.748242
21393   1003027494996471685_sc  245673.112254

In [14]:
prediccion.to_csv('target_randomForest.csv', index=False)